{% extends 'base.html.twig' %}

{% block bread %}
 -> Login
{% endblock %}

{% block body %}
    
    <form action="{{path('app_post_login')}}" method="POST">
        <div>
            <label class= 'block text-sm text-gray-700 dark:text-gray-300 font-medium'>Email</label>
            <input type="text" name="_username" value="{{lastUsername}}" class= 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'>
        </div>

        <div>
            <label class= 'block text-sm text-gray-700 dark:text-gray-300 font-medium'>Password</label>
            <div class="relative mt-1 rounded-md shadow-sm">
                <input id ="passwordField" type="password" name="_password" class= 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'>
                <button type="button" class="text-white absolute right-2.5 bottom-1 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" onclick="znikanieGwiazdek('span','passwordField')"><span  id="span" class="fa fa-fw fa-eye"></span></button>
            </div>
        </div>
        <input type="hidden" name="_target_path" value="{{path('app_post')}}">
        <div>
            <a href="{{ path('app_register') }}" class= 'block text-xl text-gray-700 dark:text-gray-300 font-medium'> Don't have an account? Click here to Register!</a>
        </div>


    <div>
        <button type="submit" class=" block w-full shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Login</button>
    </div>
    </form>

    <script>
        function znikanieGwiazdek(id,id2){
            document.getElementById(id).classList.toggle("fa-eye-slash");
            document.getElementById(id).classList.toggle("fa-eye");
            if(document.getElementById(id2).type==="password"){
                document.getElementById(id2).type = "text";
            }
            else{
                document.getElementById(id2).type = "password";
            }
        }
    </script>

{% endblock %}
